<div class="todo-item">
  <span [class]="todo.completed ? 'todo-done' : 'todo-undone'">
    {{ todo.text }}
  </span>
  <div class="actions">
    @if(isEditing) {
      <input type="text" [(ngModel)]="editText">
      <button [style]="'color: white; background: green'" (click)="editTodo()">Save Change</button>
    }
    <button class="edit" (click)="isEditing=true; editText=todo.text;">edit</button>
    <button class="delete" (click)="deleteTodo()">delete</button>
    <button 
  [class]="todo.completed ? 'done' : 'undone'" 
  (click)="onToggle()">
  @if (todo.completed) {
    Done ✅
  } @else {
    Undone ❌
  }
</button>
  </div>
</div>
